extends ../layout.pug

block head
    title='Bus Timings for ' + busStopName

block css
    link(rel='stylesheet' href='/static/css/bus-stop-timings.css')
    link(rel='stylesheet' href='/static/css/timings.css')

block header
    img#page-icon(src='/static/images/bus-stop.svg')
    span#title=busStopCode + ' ' + busStopName
block content
    include ../templates/bus-timings
