extends layout

block header
    span#title TransportSG

block css
    link(rel='stylesheet' href='/static/css/home.css')

block content
    div.main-content
        div.feature
            img(src='/static/images/bus_timings.svg')
            span Bus Timings
        div.feature
            img(src='/static/images/nearby_bus_stops.svg')
            span Nearby Bus Stops
        div.feature
            img(src='/static/images/nearby_nwabs.svg')
            span Nearby NWABs
        div.feature
            img(src='/static/images/mrt_timings.svg')
            span MRT Timings
        div.feature
            img(src='/static/images/general_search.svg')
            span General Search
        div.feature
            img(src='/static/images/about_this_site.svg')
            span About This Site
