extends layout

block header
    span#title TransportSG

block css
    link(rel='stylesheet' href='/static/css/home.css')

block content
    div.main-content
        a(href='/bookmarks').feature
            img(src='/static/images/bus_timings.svg')
            span Bookmarks
        a(href='/nearby').feature
            img(src='/static/images/nearby_bus_stops.svg')
            span Nearby Bus Stops
        a(href='/nearby/nwabs').feature
            img(src='/static/images/nearby_nwabs.svg')
            span Nearby NWABs
        a(href='/mrt/timings').feature
            img(src='/static/images/mrt_timings.svg')
            span MRT Timings
        a(href='/search').feature
            img(src='/static/images/general_search.svg')
            span General Search
        a(href='https://bus.transportsg.me').feature
            img(src='/static/images/about_this_site.svg')
            span Bus Lookup
