extends layout

block header
    span#title TransportSG

block content
    div
        h1 This site is still in beta..
        p Would you like to go to the stable version?
        a(href='https://transportsg.me') Click here!
        br
        p Current features:
        ul
            ol
                a(href='/timings/22009') Timings for Boon Lay Int
