html
    head
        meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='google' content='notranslate')

        link(rel='icon' type='image/png' href='/static/images/favicon.png')
        link(rel='shortcut icon' type='image/png' href='/static/images/favicon.png')
        link(rel='apple-touch-icon' type='image/png' href='/static/images/favicon.png')

        link(rel='stylesheet' href='/static/css/base-style.css')
        block css

        script(src='/static/scripts/helper.js' async)
        block scripts

        block head
    body
        div#header
            a(href='/')
                block header
        div#content
            block content
