for trainLine in Object.keys(timings)
    -let lineTimings = timings[trainLine];
    for destination in Object.keys(lineTimings)
        -let destinationTimings = lineTimings[destination];

        div.train-timing
            div(class=trainLine.toLowerCase() + ' train-line-container')
                span.train-line=trainLine
            div.miniEDS
                div.edsText
                    span.towards Towards
                    a(href='/mrt/timings/' + destination).destination=' ' + destination
            div.timingsContainer
                for train in destinationTimings
                    div.timingContainer
                        span.timeToArrMin=train
