@font-face {
    font-family: BreeSerif;
    src: url(/static/fonts/bree-serif.otf);
}


html, body {
    margin: 0;
    padding: 0;
    color: #c5c5c5;
    background-color: #1e1e1e;
    max-width: 100%;
    width: 100%;
    font-family: BreeSerif;
}

#header {
    background-color: #171717;
    display: block;
    height: calc((100vw + 100vh) * 0.04);
    width: 100vw;
    display: inline-flex;
    align-items: center;
}

#header a {
    display: inline-flex;
    align-items: center;
}

#title {
    font-size: calc((100vw + 100vh) * 0.015);
    margin: 0 0 0 calc((100vw + 100vh) * 0.01);
}

#page-icon {
    width: calc((100vw + 100vh) * 0.02);
    height: calc((100vw + 100vh) * 0.02);
    margin-left: calc((100vw + 100vh) * 0.01);
}

a, a:visited {
    text-decoration: none;
    color: #c5c5c5;
}
