@font-face {
    font-family: BreeSerif;
    src: url(/static/fonts/bree-serif.otf);
}

* {
    font-family: BreeSerif;
}

html, body {
    margin: 0;
    padding: 0;
    color: #c5c5c5;
    background-color: #1e1e1e;
    max-width: 100%;
    width: 100%;
}

.train-timing {
    height: calc((100vw + 100vh) * 0.07);
    display: flex;
    background-color: #2a2a2a;
}

.train-timing:nth-child(even) {
    background-color: #202020;
}

.train-line-container {
    order: 0;
    width: calc((100vw + 100vh) * .06);
    height: calc((100vw + 100vh) * 0.07);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.train-timing:nth-child(odd) .nsl {
    background-color: #c63d3d;
}

.train-timing:nth-child(even) .nsl {
    background-color: #b43535;
}

.train-timing:nth-child(odd) .ewl {
    background-color: #4ebe45;
}

.train-timing:nth-child(even) .ewl {
    background-color: #43a93b;
}

.train-timing:nth-child(odd) .ccl {
    background-color: #d7832c;
}

.train-timing:nth-child(even) .ccl {
    background-color: #c47625;
}

.train-line {
    font-size: calc((100vw + 100vh) * .027);

    color: #d2d2d2;
}


.miniEDS {
    order: 1;
    height: calc((100vw + 100vh) * 0.07);
    display: inline-flex;
    justify-content: center;
}

.edsText {
    margin-left: calc((100vw + 100vh) * 0.01);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.towards {
    color: #8f8f8f;
    font-size: calc((100vw + 100vh) * 0.007);
}

.destination {
    font-size: calc((100vw + 100vh) * 0.017);
    margin-top: calc(((100vw + 100vh) * 0.004) * -1);
    color: #c5c5c5;
    text-decoration: none;
}


.timingsContainer {
    order: 1;
    margin-left: auto;
    display: flex;
}

.timingContainer {
    width: calc((100vw + 100vh) * .024);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    color: #101010;
    justify-content: center;
    align-items: center;
}

.train-timing:nth-child(odd) .timingContainer:nth-child(odd) {
    background-color: #58ad25;
}

.train-timing:nth-child(odd) .timingContainer:nth-child(even) {
    background-color: #60bd29;
}

.train-timing:nth-child(even) .timingContainer:nth-child(odd) {
    background-color: #60bd29;
}

.train-timing:nth-child(even) .timingContainer:nth-child(even) {
    background-color: #58ad25;
}

.timeToArrMin {
    font-size: calc((100vw + 100vh) * .0105);
}

.timeToArr {
    padding-top: calc((100vw + 100vh) * .0012);
    font-size: calc((100vw + 100vh) * .009);
}
