#magnifying-glass {
    width: calc((100vw + 100vh) * 0.02);
    height: calc((100vw + 100vh) * 0.02);
    margin-left: calc((100vw + 100vh) * 0.01);
}

* > .coloured-row:nth-child(even) {
    background-color: #2a2a2a;
}

* > .coloured-row:nth-child(odd) {
    background-color: #202020;
}

#svcSummary {
    display: flex;
    height: calc(7vh + 6vw);
}

#svcNumber {
    width: calc(7vh + 8vw);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#svcText {
    font-size: calc(3vh + 3vw);
    margin-top: calc(-1vh - 0.6vw);
}

#terminals > div {
     height: calc(3.5vh + 3vw);
     display: flex;
     align-items: center;
     font-size: calc(1.7vh + 1.3vw);
     width: calc(-7vh + 92vw);
}

#terminals > div > span {
    margin-left: calc(1.2vh + 0.5vw);
}

.svc-sbst {
    background-color: #b845be;
}

.svc-smrt {
    background-color: #c63d3d;
}

.svc-tts {
    background-color: #4ebe45;
}

.svc-gas {
    background-color: #d7832c;
}


.table-header {
    background-color: #171717;
}

.table-data {
    height: calc(3vh + 3vw);
    display: flex;
    align-items: center;
    font-size: calc(1.3vh + 1.4vw);
}

.table-data > span {
    margin-top: calc(-0.3vh - 0.1vw);
    text-align: center;
    width: 30vw;
}

.spacing1 > span:nth-child(1) {
    width: 40vw;
}
