extends ../layout.pug

block head
    title Nearby Bus Stops

block css
    link(rel='stylesheet' href='/static/css/nearby-bus-stops.css')

block header
    img#page-icon(src='/static/images/bus-stop.svg')
    span#title Nearby Bus Stops
block content
    div.content
