extends ../layout.pug

block head
    title Bus Timings Searcher

block css
    link(rel='stylesheet' href='/static/css/timings.css')
    link(rel='stylesheet' href='/static/css/bus-searcher.css')
    link(rel='stylesheet' href='/static/css/nearby-nwabs.css')

block scripts
  script(src='/static/scripts/bus-searcher.js' async)

block header
    img#magnifying-glass(src='/static/images/magnifying-glass.svg')
    span#title='Bus Timings Searcher'

block content
    div#searchbar
        input#input
    div#results
